<div class="container">
    <div class="text-center">
        <h1>Task Manager</h1>
        <hr/>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Task</dh3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="/task/addTask">
                        <div class="form-group">
                            <label>Name :</label>
                            <input type="text" class="form-control" name="name"/>
                        </div>
                        <div class="form-group">
                            <label>date created:</label>
                            <input type="date" class="form-control" name="date"/>
                        </div>
                        <label>State :</label>
                        <select class="form-control" required="required" name = "state">
                            <option value="1">Active</option>
                            <option value="0">inActive</option>
                        </select>
                        <br/>
                        <div class="text-center">
                            <button type="submit" class="btn btn-warning">Add</button>&nbsp;
                            <button type="submit" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="row mt-15">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Key..." id="Search"/>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                </div>
            </div>
            <div class="row mt-15">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">State</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="addsearch">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                  <td>
                                    <select class="form-control" id="state">
                                        <option value="-1">All</option>
                                        <option value="0">Inactive</option>
                                        <option value="1">Active</option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            
                            <% tasktList.map((item, index) =>{ %>
                            <tr>
                                
                                <td><%= index %></td>
                                <td><%= item.name %></td>
                                <td><%= item.date %></td>
                                <td class="text-center">
                                    
                                    <% if(item.state === '1'){
                                    %>
                                    <span class="label label-success">Active</span>
                                    <% }else{ %>
                                    <span class="label label-danger">Inactive</span>
                                    <% } %>
                                </span>
                            </td>
                            <td class="text-center">
                                <a href="/task/delete/<%= item._id %>" onclick="return confirm('do you want delete?');">
                                    <button type="button" class="btn btn-warning">
                                    <span class="fa fa-pencil mr-5"></span>Delete
                                    </button>
                                </a>
                                &nbsp;
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal<%= item._id %>">
                                <span class="fa fa-trash mr-5"></span>Edit
                                </button>
                            </td>
                        </tr>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal<%= item._id %>" role="dialog">
                            <div class="modal-dialog">
                                
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit task</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/task/editTask/<%= item._id %>" method="post">
                                            <div class="form-group "><label>Name</label><input class="form-control" type="text" name="name" value="<%= item.name %>" /></div>
                                             <div class="form-group "><label>Date</label><input class="form-control" type="date" name="date" value="<%= item.date %>" /></div>
                                            <div class="form-group "><label>State: </label>
                                            <select name="state" id="">
                                             
                                                <option value="1" <% if(item.state === '1'){ %>
                                                                    <%= 'selected' %>
                                                                <% } %>
                                                 >Active</option>
                                                <option value="0" <% if(item.state === '0'){ %>
                                                                    <%= 'selected' %>
                                                                <% } %>>Inactive</option>
                                                
                                            </select>
                                        </div>
                                    <button class="btn btn-primary ml-3">Edit</button></form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- Modal -->
                    <% }) %>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
 $(document).ready(function(){   
    $("#Search").keyup(()=>{
        var data = $("#Search").val();
        console.log(data);
        $.post('/task/search',{data : data},function(data){
              $('#addsearch').replaceWith(data); 
        });
    })
       $("#state").change(()=>{
        var data = $("#state").val();
        console.log(data);
        $.post('/task/state',{data : data},function(data){
              $('#addsearch').replaceWith(data); 
        });
    })
   
 })

</script>